{{!< default}}
<div class="container">
	<div class="jumbotron">
		<h1>Muskoka Discovery Centre 2017 Day Camp Programs</h1>
		<p>Give your child an unforgettable experience!</p>
		<p>
			Your child will have a fun-filled day of enriched learning. Flexible and unique, the Camp provides a safe and positive learning environment so your child thrives.
		</p>

		<hr>
		<p>We have created a Admin user for you with the email <strong>manoj.sharma@mygeorgian.ca</strong> to access the admin panel.</p>
		<p><a href="/keystone/signin" style="margin-right: 10px" class="btn btn-lg btn-primary">Sign in</a> to use the Admin UI.</p>
		<hr>

	</div>
</div>
